body {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-family: 'Fraunces', serif;
}

h1{ 
    font-size: 3em;
    padding: 2em;
}
button {
    background: linear-gradient(to right, rgb(170, 168, 168), rgb(233, 232, 229));
    color: black;
    display: block;
    margin: 0 auto;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    border: none;
    font-family: 'Fraunces', serif;
}
#startdiv {
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
}


#hintdiv {
    display: none;
}


#question {
    font-size: 3rem;
}
#enteredletter {
    background-color: white;
    text-align: center;
}
#restartdiv {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#letterdiv {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
#letterdiv > p {
    color: black;
    border-bottom: 2px solid white;
    padding-bottom: 0.25rem;
    transition: all 0.3s;
}
#youwon {
    display: none;
}
