body {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-family: 'Fraunces', serif;
}

h1{ 
    font-size: 4em;
    padding: 2em;
}

button {
    background: linear-gradient(to right, rgb(133, 130, 130), rgb(213, 211, 209));
    color: white;
    display: block;
    margin: 0 auto;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    border: none;
    font-family: 'Fraunces', serif;
}
#startdiv {
    display: none;
}

#startbutton {
    font-size: 2rem;
    margin-top: 20vh;
}
#hintdiv {
    display: none;
}


#question {
    font-size: 2rem;
}

#enteredletter {
    background-color: white;
    text-align: center;
}
#restartdiv {
    display: none;
}
#letterdiv {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
#letterdiv > p {
    color: black;
    border-bottom: 2px solid white;
    padding-bottom: 0.25rem;
    transition: all 0.3s;
}